<div class="container login-container">
    <div class="row">
        <div class="col">
            <img src="https://previews.123rf.com/images/vastard/vastard1906/vastard190600055/124538305-dog-cat-pet-logo-vector-icon-illustration-negative-space-style.jpg"
                alt="" class="logo" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1>Login form</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form class="Login-form" action="">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width-control" appearance="fill">
                            <mat-label>Enter Your Email-Id</mat-label>
                            <input matInput placeholder="xyz@gmail.com" class="input" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width-control" appearance="fill">
                            <mat-label>Enter Your Password</mat-label>
                            <input type="password" matInput placeholder="Password" class="input" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button" type="submit" mat-button color="primary">Submit</button>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <button mat-raised-button class="button register" routerLink="/signup">create account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <h2>login Component</h2> -->