 <!-- <p>signup works!</p> -->
 <div class="container">
    <div class="row">
        <div class="col">
            <img src="https://previews.123rf.com/images/vastard/vastard1906/vastard190600055/124538305-dog-cat-pet-logo-vector-icon-illustration-negative-space-style.jpg"
                alt="" class="logo" />
        </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src=""/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="header">Registeration Form</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="signupForm" >
                        <form action="post" class="">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class = "full-width-control" appearance = "fill">
                                        <mat-label>
                                            Enter FirstName
                                        </mat-label>
                                        <input matInput placeholder="FirstName" class="input"  required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class = "full-width-control" appearance = "fill">
                                        <mat-label>
                                            Enter LastName
                                        </mat-label>
                                        <input matInput placeholder="LastName" class="input"  required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Gender</mat-label>
                                        <mat-select>
                                             <mat-option value = "Male">Male</mat-option>
                                             <mat-option value = "Female">Female</mat-option>
                                             <mat-option value = "other">Other</mat-option>
                                        </mat-select>
                                      </mat-form-field>                                      
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class = "full-width-control" appearance = "fill">
                                        <mat-label>
                                            Enter PhoneNumber
                                        </mat-label>
                                        <input matInput placeholder="PhoneNumber" class= "input"  required maxlength="10">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class = "full-width-control" appearance = "fill">
                                        <mat-label>
                                            Enter Email-Id
                                        </mat-label>
                                        <input matInput placeholder="Email-Id" class="input"  required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width-control" appearance="fill">
                                        <mat-label>Enter Password</mat-label>
                                        <input type="password" matInput placeholder="Password" class="input" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width-control" appearance="fill">
                                        <mat-label>Confirm Password</mat-label>
                                        <input type="password" matInput placeholder="Confirm the Password" class="input"  required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button mat-raised-button class="button register">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <h2>SIGNup component</h2> -->